<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
  <aside class="menu-sidebar d-none d-lg-block fixed-top" >
    <div class="logo">
        <img src="assets/images/logo.png" alt="FitForFun" class="img-responsive">
    </div>
  </aside>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand">
        <em>A hely, ahol a mozgás kezdődik</em>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/home">
              <i class="material-icons">
                store_mall_directory</i>Kezdőlap
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/products">
              <span class="material-icons">
                shopping_cart
                </span>Termékek</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/instructors"><i class="material-icons">
                accessibility_new
              </i>Személyi edzők</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/facilites"><i class="material-icons">
              local_convenience_store
            </i>Sport létesitmények</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/login"><i class="material-icons">login</i>Bejelentkezés</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>