<div class="main-content">
    <div class="serction-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box">
                        <img src="{{ tempProduct.imageUrl}}" class="img-responsive">
                        <h1>{{ tempProduct.name}}</h1>
                    </div>
                    <div class="price">{{tempProduct.price | currency:'HUF':"symbol":"3.1-2":"hu"}}</div>
                    <a href='#' class="primary-btn">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>